@font-face {
    font-family: 'Humane';
    src: url('Humane-Bold.woff2') format('woff2'),
        url('Humane-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

