---
import { FooterCloud, FooterLeaf, FooterStar } from './images'
import Newsletter from './Newsletter.vue';
---
<div class="before-footer" id="before-footer">
	<div class="container">
		<div class="footer-form">
			<div class="footer-form-images">
				<img src={FooterLeaf} alt="" width="70" height="70" loading="lazy">
				<img src={FooterStar} alt="" width="70" height="70" loading="lazy">
				<img src={FooterCloud} alt="" width="70" height="70" loading="lazy">
			</div>
			<p>Want to join the Bluechip Squad? 
				<br>Sign up to be in the know. </p>
		<Newsletter client:load />
		</div>
		<div class="footer-text">
			<h3>Join the tribe</h3>
		</div>
	</div>
</div>

<style lang="sass">
	.before-footer
		position: relative
		padding: 100px 0
		display: block
		width: 100%
		float: left
		background: var(--primary-pure)
		&:before
			content: ''
			position: absolute
			top: -70px
			left: 0
			height: 140px
			width: 300px
			border-top-right-radius: 140px
			border-bottom-right-radius: 140px
			z-index: 1
			background: var(--highlight-medium)
		.container
			margin: 0 auto
			max-width: 1185px
			width: calc(100% - 40px)
			display: flex
			align-items: center
			flex-wrap: wrap
			justify-content: space-between
		.footer-text
			width: 480px
		.footer-form
			width: 530px
			p
				text-align: center
				margin: 0 auto 50px
				font-size: 20px
				line-height: 200%
				color: var(--high-pure)
		.footer-form-images
			margin: 0 auto 40px
			display: flex
			align-items: center
			justify-content: space-between
			width: 275px
			height: 70px
		h3
			color: var(--high-pure)
			font-family: var(--humane)
			margin: 0
			line-height: 230px
			text-transform: uppercase
			font-size: 300px
	@media all and (max-width: 1200px)
		.before-footer
			.footer-text
				width: 330px
			h3
				line-height: 155px
				font-size: 200px
	@media all and (max-width: 1000px)
		.before-footer
			padding: 90px 0
			.footer-form-images
				margin-bottom: 20px
			.footer-form
				width: calc(100% - 280px)
			.footer-text
				width: 245px
				h3 
					font-size: 150px
					line-height: 120px
			.footer-form
				p
					font-size: 16px
					margin-bottom: 20px 
	@media all and (max-width: 750px)
		.before-footer
			padding: 90px 0 50px
			&:before
				height: 80px
				top: -40px
				width: 260px
			.footer-form
				width: 100%
				order: 2
			.footer-text
				width: 100%
				order: 1
				h3 
					text-align: center
					font-size: clamp(80px, calc(5rem + ((1vw - 3.2px) * 16.2791)), 150px)
					line-height: 83% 
	@media all and (max-width: 600px)
		.before-footer
			.footer-form-images
				width: 200px
				img
					width: 45px
					height: auto
					display: block
</style>
